*{
    margin: 0;
    padding: 0;
}
.cabecalho-imagem{
    width: 20%;
}
body{
    background-color: aquamarine;
}
.cabecalho{
    background-color: aliceblue;
    color: rgb(228, 22, 22);
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 24px;
}